---
import Layout from '../layouts/Layout.astro';
import GoBackButton from '../components/GoBackButton.astro';
---

<Layout title="My portfolio">
	<header>
		<GoBackButton/>
	</header>
	<main>
		<h1>Working experience</h1>
	</main>
</Layout>

<style>
	h1 {
		display: flex;
		justify-content: center;
		margin: 1rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	header {
		display: flex;
		justify-content: flex-start;
		margin: 0 1rem;
	}
</style>
