---
import Layout from '../layouts/Layout.astro';
import GoBackButton from '../components/GoBackButton.astro';
import WorkExperienceCard from '../components/WorkExperienceCard.astro';
---

<Layout title="My portfolio">
	<header>
		<GoBackButton/>
	</header>
	<main>
		<h1>Work experience</h1>
		<ul>
			<WorkExperienceCard
				title="Xoor"
				body="Full-stack Developer"
			/>
			<WorkExperienceCard
				title="SimTLix"
				body="Backend Developer"
			/>
			<WorkExperienceCard
				title="Avalith"
				body="Backend Developer"
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		display: flex;
		justify-content: center;
		margin: 1rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	header {
		display: flex;
		justify-content: flex-start;
		margin: 0 1rem;
	}
</style>
