---
import WorkingExperienceCardItem from './WorkingExperienceCardItem/index'
import { workingExperienceItems } from './shared'
export interface Props {

}

const {  } = Astro.props;
---

<div class="WorkingExperienceCard">
	<WorkingExperienceCardItem
		items={workingExperienceItems}
	/>
</div>
<style>
	:root {
		/* variables */
	}
</style>
